.container {
    width: 900px;
    margin: auto;
}
.header {
    height: 250px;
    background-color: yellow;
}
.menu {
    height: 70px;
    background-color: red;
}
.sidebar {
    height: 600px;
    width: 30%;
    background-color: orange;
    box-sizing: border-box;
    float: left;
}
.main {
    height: 600px;
    width: 70%;
    background-color: blue;
    float: left;
}
.footer {
    height: 100px;
    background-color: green;
    clear: both;
    
}